html {
	box-sizing: border-box;
	min-width: 320px;
	font-family: $font-main;
	font-size: 10px;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	font-size: 1.4rem;
}

a:link,
a:visited,
a:active {
	text-decoration: none;
}

.button {
	display: block;
	border-radius: 3px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	line-height: 56px;
	width: 225px;
	height: 56px;
	text-align: center;
	letter-spacing: 0.03em;
}

.button--accent {
	background: $color-accent;
	border-color: $color-accent;
}
