html {
	box-sizing: border-box;
	min-width: 320px;
	font-family: $font-main;
	font-size: 10px;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	min-height: 100vh;
	font-size: 1.4rem;
}

a:link,
a:visited,
a:active {
	text-decoration: none;
}

.button {
	display: block;
	border-radius: 3px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	line-height: 56px;
	width: 225px;
	height: 56px;
	text-align: center;
	letter-spacing: 0.03em;
	box-shadow: 0px 2px 4.75px 0.25px rgba(#000, 0.25);
	transition: $transition;
	will-change: transform;
	&:hover,
	&:focus {
		outline: none;
		transform: translateY(-1px) scale(1.01);
		box-shadow: 0px 2px 4.75px 1px rgba(#000, 0.25);
	}
	&:active {
		transform: translateY(1px);
	}
}

.button--accent {
	background: $color-accent;
	border-color: $color-accent;
}

.section {
	max-width: 1200px;
	margin: auto;
	padding: 150px 15px;
	overflow: hidden;
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	@include media-query(1023px) {
		padding: 75px 15px;
	}
}

.section-heading {
}

.section-heading__heading {
	font-family: $font-pro;
	color: $color-grey;
	text-transform: uppercase;
	font-size: 3.6rem;
	font-weight: 700;
	letter-spacing: 0.4rem;
}

.section-heading__paragraph {
	font-family: $font-pro;
	color: #999999;
	line-height: 2.1em;
	font-size: 1.4rem;
	margin-top: 15px;
	letter-spacing: 0.07em;
}

.section-heading__delimiter {
	margin-top: 20px;
	.delimiter__line {
		background-color: #999;
	}
}

.delimiter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.delimiter__line {
	width: 80px;
	height: 1px;
	background: #f1ebe7;
}

.delimiter__dot {
	border-radius: 50%;
	width: 7px;
	height: 7px;
	background: $color-accent;
	margin: 0 14px;
}
