.footer-container {
	background-color: #202020;
	position: relative;
}

.footer__up-button {
	position: absolute;
	right: 50px;
	top: 0;
	height: 53px;
	width: 53px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: $color-accent;
	margin: -26.5px;
	i {
		color: #fff;
		font-size: 2rem;
	}
}

.footer {
	min-height: 90px;
	max-width: 1200px;
	margin: auto;
	padding: 30px 15px;
	overflow: hidden;
	display: flex;
}

.footer-wrapper {
	flex: 1 1 auto;
	display: flex;
	margin: -40px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.footer__item {
	width: 50%;
	margin: 20px;
	display: flex;
	flex: 0 0;
	white-space: nowrap;
}

.social__icon {
	font-size: 2rem;
	margin-right: 1.6rem;
	color: #999999;
	transition: color $transition;
	&:hover {
		color: $color-accent;
	}
}

.copyright {
	display: block;
	color: #999999;
	font-weight: 600;
	text-align: center;
}
