.s-about__container {
	background-color: #f4f5f9;
}

.s-about__wrapper {
	display: flex;
	margin: -80px;
	padding: 40px;
	flex-wrap: wrap;
	@include media-query(899px) {
		margin: -40px;
		padding: 20px;
	}
}

.s-about__item {
	flex: 1 1 150px;
	margin: 40px;
	display: flex;
	flex-direction: column;
	text-align: left;
	@include media-query(899px) {
		margin: 20px;
	}
}

.s-about__img {
	min-width: 250px;
	width: 100%;
	max-width: 506px;
}

.s-about__heading {
	border-left: 6px solid #e74c3c;
	padding-left: 28px;
	margin-bottom: 10px;
}

.s-about__paragraph {
	margin-top: 30px;
	letter-spacing: 0.016em;
	hyphens: auto;
}

.s-about__button {
	margin-top: 40px;
}
