.s-pricing__container {
	background-color: #fff;
}

.s-pricing {
}

.s-pricing__plans-wrapper {
	display: flex;
	margin: 50px -15px -15px;
	padding: 7.5px;
	@include media-query-min-max(419px, 899px) {
		flex-direction: column;
	}
	flex-wrap: wrap;
}

.plan {
	flex: 1 1 230px;
	margin: 7.5px;
	display: flex;
	flex-direction: column;
	background-color: $color-white;
	align-items: center;
	padding-bottom: 50px;
	&:hover {
		.plan__button {
			background-color: $color-accent;
		}
		.plan__price {
			color: $color-accent;
		}
		.plan__heading-wrapper {
			background-color: $color-accent;
		}
	}
	@include media-query-min-max(419px, 899px) {
		flex-direction: row;
		align-items: center;
		padding-bottom: 0;
		justify-content: space-between;
	}
}

.plan__heading-wrapper {
	background-color: #999999;
	min-width: 170px;
	height: 205px;
	position: relative;
	width: 100%;
	transition: background-color $transition;
	@include media-query-min-max(419px, 899px) {
		width: 30%;
		height: auto;
		overflow: hidden;
		align-self: stretch;
		flex-shrink: 0;
	}
}

.plan__heading {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2.4rem;
	letter-spacing: 0.03em;
	margin-top: 46px;
}

.plan__price {
	position: absolute;
	bottom: 0;
	right: 50%;
	@include media-query-min-max(419px, 899px) {
		bottom: 30px;
	}
}

.price {
	width: 150px;
	height: 150px;
	margin-bottom: -75px;
	margin-right: -75px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 0 10px rgba(#f4f5f9, 0.25);
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #999;
	font-family: $font-pro;
	transition: color $transition;
}

.price__value {
	font-size: 4rem;
	font-weight: 700;
}

.price__per {
	font-size: 1.3rem;
	line-height: 2em;
}

.plan__sub-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include media-query-min-max(419px, 899px) {
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-left: 10px;
	}
}

.plan__services {
	margin-top: 110px;
	line-height: 2.9em;
	letter-spacing: 0.02em;
	color: #999;
	white-space: nowrap;
	@include media-query-min-max(419px, 899px) {
		margin-top: 0;
		line-height: 2.3em;
	}
}

.plan__button {
	margin-top: 37px;
	height: 46px;
	width: 147px;
	background-color: #999;
	font-size: 1.2rem;
	line-height: 48px;
	border: none;
	transition: trasnform background-color $transition;
	@include media-query-min-max(419px, 899px) {
		margin: 10px 0;
	}
}
