.s-pricing__container {
	background-color: #fff;
}

.s-pricing {
}

.s-pricing__plans-wrapper {
	display: flex;
	margin: 50px -15px -15px;
	padding: 7.5px;
}

.plan {
	flex: 1 1 33.3333333%;
	margin: 7.5px;
	display: flex;
	flex-direction: column;
	background-color: $color-white;
	align-items: center;
	padding-bottom: 50px;
	&:hover {
		.plan__button {
			background-color: $color-accent;
		}
		.plan__price {
			color: $color-accent;
		}
		.plan__heading-wrapper {
			background-color: $color-accent;
		}
	}
}

.plan__heading-wrapper {
	background-color: #999999;
	height: 205px;
	position: relative;
	width: 100%;
	transition: $transition;
}

.plan__heading {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2.4rem;
	letter-spacing: 0.03em;
	margin-top: 46px;
}

.plan__price {
	position: absolute;
	bottom: 0;
	right: 50%;
}

.price {
	width: 150px;
	height: 150px;
	margin-bottom: -75px;
	margin-right: -75px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 0 10px rgba(#f4f5f9, 0.25);
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #999;
	font-family: $font-pro;
	transition: $transition;
}

.price__value {
	font-size: 4rem;
	font-weight: 700;
}

.price__per {
	font-size: 1.3rem;
	line-height: 2em;
}

.plan__services {
	margin-top: 110px;
	line-height: 2.9em;
	letter-spacing: 0.02em;
	color: #999;
}

.plan__button {
	margin-top: 37px;
	height: 46px;
	width: 147px;
	background-color: #999;
	font-size: 1.2rem;
	line-height: 48px;
	border: none;
	transition: $transition;
}
