.section-who {
	position: relative;
	min-height: 450px;
	max-width: 1200px;
	margin: auto;
	text-align: center;
	padding: 100px 15px 0;
	overflow: hidden;
}

.section-who__button-anchor {
	font-size: 28px;
	position: absolute;
	top: -35px;
	right: 50%;
	margin-right: -32px;
	z-index: 4;
	color: #000;
	width: 64px;
	height: 64px;
	background-color: $color-white;
	border-radius: 50%;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
	border: none;
	i {
		color: $color-accent;
	}
}

.section-who__item-wrapper {
	display: flex;
	margin: -40px;
	padding: 20px;
}

.who-item {
	margin: 20px;
	display: flex;
	flex-direction: column;
	flex: 1 1 25%;
	align-items: center;
	&:hover {
		.who-item__icon::after {
			transform: rotate(45deg) scale(0.87, 0.87);
			border-color: $color-accent;
		}
		.who-item__header {
			color: $color-accent;
		}
	}
}

.who-item__icon {
	margin-top: 25px;
	width: 72px;
	height: 72px;
	line-height: 80px;
	font-size: 2rem; // border: 1px solid #e5e5e5;
	// border-radius: 2px;
	position: relative;
	color: $color-accent;
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		border: 1px solid #e5e5e5;
		border-radius: 2px;
		left: 0;
		transition: $transition;
	}
}

.icon-idea,
.icon-glasses {
	font-size: 3.2rem;
}

.who-item__header {
	text-transform: uppercase;
	font-weight: 600;
	color: #6a6a6a;
	letter-spacing: 0.1em;
	font-size: 1.8rem;
	margin-top: 29px;
	transition: $transition;
}

.who-item__bar {
	margin-top: 18px;
	height: 1px;
	background-color: #6a6a6a;
	width: 40px;
}

.who-item__paragraph {
	margin-top: 13px;
	color: #999999;
	letter-spacing: 0.03em;
	line-height: 20px;
	font-size: 1.2rem;
}
