$font-main: "Open Sans", sans-serif;
$font-lato: "Lato", sans-serif;
$font-pro: "Source Sans Pro", sans-serif;

$color-white: #f4f5f9;
$color-storm-grey: #4a4c55;
$color-accent: #e74c3c;
$color-grey: #6a6a6a;

$transition: 0.3s;
